<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="DBTourism" connectionString="Data Source=127.0.0.1,1430;Initial Catalog=dbzl;Persist Security Info=True;User ID=sa;Password=zyzlxxjs" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key=""/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0" />

  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>